<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1"
	xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
	<persistence-unit name="JPA_Project">

		<!-- provedor/implementacao do JPA -->
		<provider>org.hibernate.jpa.HibernatePersistenceProvider</provider>

		<class>Model.Pessoa</class>
		<class>Model.Conta</class>
		<class>Model.Endereco</class>

		<properties>
			<property name="javax.persistence.jdbc.url" value="jdbc:oracle:thin:@localhost:1521:XE" />
			<property name="javax.persistence.jdbc.password" value="DATABASE_PASSWORD" />
			<property name="javax.persistence.jdbc.user" value="DATABASE_NAME" />
			<property name="javax.persistence.jdbc.driver" value="oracle.jdbc.OracleDriver" />

			<!-- propriedades do hibernate -->
			<property name="hibernate.dialect" value="org.hibernate.dialect.OracleDialect" />
			<property name="hibernate.show_sql" value="true" />
			<property name="hibernate.format_sql" value="true" />

			<!-- atualiza o banco, gera as tabelas se for preciso -->
			<!-- <property name="hibernate.hbm2ddl.auto" value="update" /> -->
		</properties>

	</persistence-unit>
</persistence>
